<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>exp_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,81},{381,88}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{381,88}}</string>
                <key>sourceSize</key>
                <string>{389,92}</string>
            </dict>
            <key>exp_glass_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,395},{299,64}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{299,64}}</string>
                <key>sourceSize</key>
                <string>{303,68}</string>
            </dict>
            <key>free_auto_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{415,77}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{415,77}}</string>
                <key>sourceSize</key>
                <string>{415,85}</string>
            </dict>
            <key>free_spins.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,461},{182,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{182,33}}</string>
                <key>sourceSize</key>
                <string>{182,35}</string>
            </dict>
            <key>gold_img.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,388},{112,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{112,93}}</string>
                <key>sourceSize</key>
                <string>{124,93}</string>
            </dict>
            <key>info_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,171},{144,111}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{144,111}}</string>
                <key>sourceSize</key>
                <string>{146,111}</string>
            </dict>
            <key>info_btn_dis.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,284},{147,102}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{147,102}}</string>
                <key>sourceSize</key>
                <string>{151,102}</string>
            </dict>
            <key>info_font.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,461},{111,35}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,7},{111,35}}</string>
                <key>sourceSize</key>
                <string>{135,51}</string>
            </dict>
            <key>line_btn_font.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,125},{71,38}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,6},{71,38}}</string>
                <key>sourceSize</key>
                <string>{97,52}</string>
            </dict>
            <key>lines_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,125},{136,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,45}}</string>
                <key>sourceSize</key>
                <string>{136,45}</string>
            </dict>
            <key>max_bet_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,171},{271,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,114}}</string>
                <key>sourceSize</key>
                <string>{271,114}</string>
            </dict>
            <key>max_bet_btn_dis.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,287},{272,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,106}}</string>
                <key>sourceSize</key>
                <string>{272,106}</string>
            </dict>
            <key>max_bet_font.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,92},{120,31}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{120,31}}</string>
                <key>sourceSize</key>
                <string>{122,49}</string>
            </dict>
            <key>money_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,263},{212,69}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,69}}</string>
                <key>sourceSize</key>
                <string>{214,69}</string>
            </dict>
            <key>setup_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,2},{89,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,88}}</string>
                <key>sourceSize</key>
                <string>{89,88}</string>
            </dict>
            <key>spins.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,483},{69,21}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{69,21}}</string>
                <key>sourceSize</key>
                <string>{73,25}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game_ui_2.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fae9dc2138bffaf87069ef0e8df73ed0$</string>
            <key>textureFileName</key>
            <string>game_ui_2.png</string>
        </dict>
    </dict>
</plist>
