<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>auto_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,91},{274,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,102}}</string>
                <key>sourceSize</key>
                <string>{274,102}</string>
            </dict>
            <key>auto_btn_dis.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,367},{272,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,105}}</string>
                <key>sourceSize</key>
                <string>{272,105}</string>
            </dict>
            <key>auto_font.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,474},{150,31}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{150,31}}</string>
                <key>sourceSize</key>
                <string>{158,37}</string>
            </dict>
            <key>auto_num_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,371},{132,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,40}}</string>
                <key>sourceSize</key>
                <string>{132,40}</string>
            </dict>
            <key>auto_spin.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,165},{174,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{174,33}}</string>
                <key>sourceSize</key>
                <string>{174,35}</string>
            </dict>
            <key>auto_spins.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,474},{195,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{195,33}}</string>
                <key>sourceSize</key>
                <string>{195,35}</string>
            </dict>
            <key>back_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,295},{91,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,87}}</string>
                <key>sourceSize</key>
                <string>{91,87}</string>
            </dict>
            <key>back_btn_img.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,200},{57,48}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{57,48}}</string>
                <key>sourceSize</key>
                <string>{61,58}</string>
            </dict>
            <key>bet_btn_font.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,165},{66,39}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,5},{66,39}}</string>
                <key>sourceSize</key>
                <string>{78,47}</string>
            </dict>
            <key>bet_font.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,474},{62,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,35}}</string>
                <key>sourceSize</key>
                <string>{62,35}</string>
            </dict>
            <key>bet_line_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,91},{269,100}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{269,100}}</string>
                <key>sourceSize</key>
                <string>{269,102}</string>
            </dict>
            <key>bet_line_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,91},{229,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,72}}</string>
                <key>sourceSize</key>
                <string>{231,72}</string>
            </dict>
            <key>bet_num_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,91},{278,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,65}}</string>
                <key>sourceSize</key>
                <string>{278,65}</string>
            </dict>
            <key>bte_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,371},{136,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,45}}</string>
                <key>sourceSize</key>
                <string>{136,45}</string>
            </dict>
            <key>buy_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,295},{89,61}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,61}}</string>
                <key>sourceSize</key>
                <string>{91,61}</string>
            </dict>
            <key>buy_btn_dis.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,384},{88,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,61}}</string>
                <key>sourceSize</key>
                <string>{88,61}</string>
            </dict>
            <key>buy_font.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,233},{38,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{38,27}}</string>
                <key>sourceSize</key>
                <string>{48,33}</string>
            </dict>
            <key>cash_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{506,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{506,87}}</string>
                <key>sourceSize</key>
                <string>{516,91}</string>
            </dict>
            <key>exp_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,200},{99,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,93}}</string>
                <key>sourceSize</key>
                <string>{99,93}</string>
            </dict>
            <key>free_spin.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,165},{159,33}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{159,33}}</string>
                <key>sourceSize</key>
                <string>{161,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game_ui_1.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aad5380e32bf1ee4786db576a42ed7a2$</string>
            <key>textureFileName</key>
            <string>game_ui_1.png</string>
        </dict>
    </dict>
</plist>
